.App {
	background-color: beige;
	display: flex;
	position: relative;
}
.absBlack {
	position: absolute;
	background-color: black;
}
.verticalGrid {
	top: 0px;
	height: 100%;
	width: 1pt;
}
.horizontalGrid {
	left: 0px;
	width: 100%;
	height: 1px;
}
.equationValue {
	position: absolute;
	width: 2px;
	height: 2px;
	background-color: darkolivegreen;
}
.coordinate {
	position: absolute;
	color: black;
}
.Controls {
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 0px;
	left: 0px;
}
